{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(87717780, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
    <noscript><div><img src="https://mc.yandex.ru/watch/87717780" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</head>
<body>
        {% if request.user.is_authenticated %}
    
    <div class="footer-area">
        <div class="container">
            <div class="row d-flex flex-wrap align-items-center">
                <div class="col-12 col-md-6">
                    <h1 href="#"><a href="/">Музыкальная станция</a></h1>
                </div>

                <div class="col-12 col-md-6">
                    <div class="footer-nav">
                        <ul>
                            
                            <li><a href="{% url 'application:home' %}">Главная</a></li>
                            <li><a href="{% url 'application:genre' %}">Жанры</a></li>
                            <li><a href="{% url 'application:product_list' %}">SHOP</a></li>
                            <li><a href="{% url 'application:blog_list' %}">Блог</a></li>
                            <li><a href="{% url 'application:contact_page' %}">Контакты</a></li>
                            <div class="dropdown">
                                <button class="dropbtn">{{ user }}</button>
                                <div class="dropdown-content">
                                <li>
                                    Hello {{ user }}
                                </li>
                                    <a href="{% url "application:profile" %}">Личный профиль</a>
                                    <a href="{% url "application:logout" %}?next=/">Выйти</a>
                                </div>
                            </div>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
        {% else %}
        <div class="footer-area">
        <div class="container">
            <div class="row d-flex flex-wrap align-items-center">
                <div class="col-12 col-md-6">
                    <h1 href="#"><a href="/">Музыкальная станция</a></h1>
                </div>

                <div class="col-12 col-md-6">
                    <div class="footer-nav">
                        <ul>
                            <li><a href="{% url 'application:home' %}">Главная</a></li>
                            <li><a href="{% url 'application:genre' %}">Жанры</a></li>
                            <li><a href="{% url 'application:product_list' %}">SHOP</a></li>
                            <li><a href="{% url 'application:blog_list' %}">Блог</a></li>
                            <li><a href="{% url 'application:contact_page' %}">Контакты</a></li>
                            <div class="dropdown">
                                <button class="dropbtn">Регистрация</button>
                                <div class="dropdown-content">
                                  <a href="{% url 'application:register' %}">Регистрация</a>
                                  <a href="{% url 'application:login' %}">Войти</a>
                                  
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endif %}

    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid" style='justify-content: right; display: flex;'>
            <form class="d-flex" action="{% url 'application:search' %}" method="get">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </nav>

  <!-- ##### Latest Albums Area Start ##### -->
    <section class="latest-albums-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading style-2">
                        <h2 class="title-relise">НОВЫЕ РЕЛИЗЫ</h2>
                    </div>
                </div>
            </div>
           

            <div class="row">
                <div class="col-12">
                    <div class="albums-slideshow owl-carousel">
                        {% for mux in mus %}
                        <!-- Single Album -->
                        <div class="single-album">
                            <img src="{{ mux.image_track.url }}" alt="">
                            <div class="album-info">
                                <a href="{{ mux.get_absolute_url }}">
                                    <h5>{{ mux.name }}</h5>
                                </a>
                                <p>{{ mux.author.name }}</p>
                                <audio controls class="controls" style="width:230px;" 
                                  src="{{ mux.music_upload.url }}">
                                  Your browser does not support the
                                  <code>audio</code> element.
                                </audio>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Latest Albums Area End ##### -->













  
      <!--<div class="container">
        <div id="#slider" class="owl-carousel">
          {% for track in mus %}
          <div class="content-area" style="">
            <div class="content">
              <div class="img-area"><img src="{{ track.image_track.url }}" alt="" style="height:350px;width:350px;"></div>
              <p>{{ track.title }}</p>
              <h4><a href="{{ track.get_absolute_url }}">{{ track.name }}</a></h4>
              <p>{{ track.author.name }}</p>
              <audio controls class="controls" 
                src="{{ track.music_upload.url }}">
                Your browser does not support the
                <code>audio</code> element.
              </audio>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>-->
    















  <div class="container" style="text-align:center;">
    <h1 class="title-relise">Альбомы</h1>
  </div>


  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-6">
      {% for item in albums %}
        <div class="col">
          <div class="card shadow-sm" style="width: 18rem;">
              <img src="{{ item.image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ item.name }}</h5>
                  <p class="card-text">{{ item.description|truncatewords:30 }}</p>
                  <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Читать больше</a>
                </div>
            </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>

  <div class="container" style="text-align:center;">
    <h1>Исполнители</h1>
  </div>

  <div class="container">
    <div class="row mb-2">
      {% for art in artist %}
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">{{ art.genre.name }}</strong>
            <h3 class="mb-0">{{ art.name }}</h3>
            {% for v in art.members.all %}
              <div class="mb-1 text-muted">{{ v.name }}</div>
            {% endfor %}
            <p class="card-text mb-auto">{{ art.desc|truncatewords:15 }}</p>
            <a href="{{ art.get_absolute_url }}" class="stretched-link">Узнать больше</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="{{ art.image.url }}" class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect></img>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>




  <!-- ##### Contact Area Start ##### -->
    <section class="contact-area section-padding-100 bg-img bg-overlay bg-fixed has-bg-img" style="background-image: url('/static/img/dev.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading white wow fadeInUp" data-wow-delay="100ms">
                        <p>See what’s new</p>
                        <h2>ОТПРАВЬТЕ ОТЗЫВ О САЙТЕ, ИЛИ ПРЕДЛОЖЕНИЕ</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <!-- Contact Form Area -->
                    <div class="contact-form-area">
                        <form action="{% url 'thanks_page' %}" method="post">
                          {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group wow fadeInUp" data-wow-delay="100ms">
                                      <p style="color:red;">Имя</p>
                                      {{ form.name }}
                                        {# <input type="text" class="form-control" id="name" placeholder="Name"> #}
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group wow fadeInUp" data-wow-delay="200ms">
                                      <p style="color:red;">E-mail</p>
                                      {{ form.email }}
                                        {# <input type="email" class="form-control" id="email" placeholder="E-mail"> #}
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group wow fadeInUp" data-wow-delay="300ms">
                                      <p style="color:red;">Тема сообщения</p>
                                      {{ form.subject }}
                                        {# <input type="text" class="form-control" id="subject" placeholder="Subject"> #}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group wow fadeInUp" data-wow-delay="400ms">
                                      <p style="color:red;">Текст</p>
                                      {{ form.text }}
                                        {# <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Message"></textarea> #}
                                    </div>
                                </div>
                                <div class="col-12 text-center wow fadeInUp" data-wow-delay="500ms">
                                    <button class="btn oneMusic-btn mt-30" type="submit">Send <i class="fa fa-angle-double-right"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Contact Area End ##### -->


    {% block thanks %}

    {% endblock %}




  <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container">
            <div class="row d-flex flex-wrap align-items-center">
                <div class="col-12 col-md-6">
                    <h1 href="#"><a href="/">Музыкальная станция</a></h1>
                    <p class="copywrite-text">
                      <a href="#">
                      Авторские права &copy;
                      <script>document.write(new Date().getFullYear());</script> Все права защищены |  <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://vk.com/iceiceicenice" target="_blank">KORSH</a>
                      </p>
                </div>

                <div class="col-12 col-md-6">
                    <div class="footer-nav">
                        <ul>
                            <li><a href="{% url 'application:home' %}">Главная</a></li>
                            <li><a href="{% url 'application:genre' %}">Жанры</a></li>
                            <li><a href="#">Events</a></li>
                            <li><a href="{% url 'application:blog_list' %}">Блог</a></li>
                            <li><a href="{% url 'application:contact_page' %}">Контакты</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>














    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>

    <script src="{% static 'js/plugins/plugins.js' %}"></script>

    <script src="{% static 'js/active.js' %}"></script>


    <script>
      $('.owl-carousel').owlCarousel({
        loop:true,
        margin:15,
        nav:false,
        autoplay:true,
          responsive:{
            0:{
              items:1
            },
            600:{
              items:2
            },
            1000:{
              items:3
            }
          }
      })
    </script>


</body>
</html>